* {
    box-sizing: border-box;
}
a, a:link, a:visited {
    color: #069;
}
body {
    font-family: arial, sans-serif;
    font-size: 14px;
    margin: 0;
}

[class*=well] {
    padding: 10px;
    color: #666;
    font-family: 'courier new', serif;
    border: 1px solid #ccc;
    margin: 10px 0 15px;
    border-radius: 4px;
    background: #f8f8f8;
}
.well-flat {
    border: 0;
    border-radius: 0;
}

/* Stling this page */
.row {
    margin-bottom: 10px;
}
.header {
    background: #069;
    color: #fff;
    padding: 10px;
    margin-bottom: 10px;
}
.footer {
    padding: 40px 20px 80px;
    margin-top: 40px;
    background: #eee;
}
.container {
    padding: 20px;
}
#form-wrap {
    max-width: 500px;
    margin: 20px auto;
}