/*!
 * CSS Form UI
 *
 * @author: Elton Jain
 * @website: eltonjain.com
 * @github: http://github.com/scazzy
 *
 * Elements
 * - Select / dropdown
 * - Checkbox
 * - Radio
*/
[class*=formui] {
  border: 0;
  padding: 5px;
  font-size: 16px;
  border: 2px solid #cccccc;
  position: relative;
  border-radius: 3px;
}
.formui-dropdown {
  text-align: left;
  vertical-align: top;
  min-width: 300px;
  padding: 0;
  overflow: hidden;
}
.formui-dropdown select {
  top: 5px;
  margin-top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  font-size: inherit;
  border: 0;
  height: 36px;
  background: none;
  outline: none;
}
.formui-dropdown .text {
  display: block;
}
.formui-dropdown:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background: #008ff5;
  color: #fff;
  width: 30px;
  text-align: center;
}
.formui-dropdown:after {
  content: "▼";
  position: absolute;
  vertical-align: middle;
  top: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  width: 30px;
  height: 100%;
  line-height: 36px;
  font-weight: bold;
  font-size: 12px;
  color: #fff;
}
.formui-radio {
  border: 0;
  padding: 0;
  margin-right: 8px;
}
.formui-radio input {
  opacity: 0;
  position: absolute;
  left: 0;
}
.formui-radio:before {
  content: '';
  display: inline-block;
  width: 25px;
  height: 25px;
  vertical-align: middle;
  margin-right: 5px;
  border: 2px solid #cccccc;
  border-radius: 50%;
  font-size: 25px;
  line-height: 26px;
}
.formui-radio:hover:before,
.formui-radio:focus:before {
  background: #f8f8f8;
  border-color: #999999;
}
.formui-radio.checked:before {
  background: #008ff5;
  border-color: #008ff5;
  color: #fff;
  content: "\d7";
  font-weight: bold;
  text-align: center;
}
.formui-checkbox {
  border: 0;
  padding: 0;
  margin-right: 8px;
}
.formui-checkbox input {
  opacity: 0;
  position: absolute;
  left: 0;
}
.formui-checkbox:before {
  content: '';
  display: inline-block;
  width: 25px;
  height: 25px;
  vertical-align: middle;
  margin-right: 5px;
  border: 2px solid #cccccc;
  border-radius: 3px;
  font-size: 25px;
  line-height: 26px;
}
.formui-checkbox:hover:before,
.formui-checkbox:focus:before {
  background: #f8f8f8;
  border-color: #999999;
}
.formui-checkbox.checked:before {
  background: #008ff5;
  border-color: #008ff5;
  content: "\d7";
  font-weight: bold;
  text-align: center;
  color: #fff;
}
